
.sendCodeBtn{
  padding: 5px 10px;
  border: 0;
  background-color: #fff;
}
.registerBtn{
  width: 96%;
  margin: 10px 2%;
  padding: 8px 0;
  text-align: center;
  color: #666;
  background-color: #eee;
}
.active{
  color: #fff;
  background-color: #f66;
}